body {
  font-family: "Inter", sans-serif;
  background: #f2f4f7;
  margin: 0;
  padding: 0;
}

/* MAIN CONTAINER */
.signup-container {
  width: 70%;
  max-width: 1100px;
  background: #fff;
  margin: 50px auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

/* LEFT SIDE */
.left-box {
  width: 45%;
}

.left-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT SIDE */
.right-box {
  width: 55%;
  padding: 40px 50px;
}

.right-box h2 {
  font-weight: 800;
  text-align: center;
}

.right-box p {
  text-align: center;
  color: #666;
  margin-top: 2px;
  margin-bottom: 20px;
}

.back-link {
  color: #444;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
}

form label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  display: block;
}

form input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 14px;
}

/* FORGOT PASSWORD */
.forgot-password {
  text-align: right;
  margin-bottom: 10px;
  margin-top: -5px;
}

.forgot-password a {
  color: #c3a675;
  font-size: 13px;
  text-decoration: none;
  font-weight: 500;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* MAIN BUTTON */
.main-btn {
  width: 100%;
  padding: 12px;
  background: #c3a675;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.main-btn:hover {
  background: #b39564;
}

/* GOOGLE BUTTON */
.google-btn {
  width: 100%;
  padding: 12px;
  background: #db4437;
  color: white;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.google-btn:hover {
  background: #c23321;
}

/* FACEBOOK BUTTON */
.facebook-btn {
  width: 100%;
  padding: 12px;
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.facebook-btn:hover {
  background: #0c63d4;
}

.bottom-text {
  margin-top: 4rem;
  text-align: center;
  color: #666;
}

.bottom-text a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.bottom-text a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 850px) {
  .signup-container {
    flex-direction: column;
    width: 90%;
  }

  .left-box {
    width: 100%;
    height: 220px;
  }

  .right-box {
    width: 100%;
  }
}